@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700,900&display=swap');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  }

body {
  background-color: rgba(24, 24, 24, 1);

  font-family: 'Roboto', sans-serif;
  color: rgba(255, 253, 248, 1);
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
